<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>{{ header }}</h1>
            <p>{{ content }}</p>
        </div>
    </body>
</html>